.flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Creates sticky footer */
}

.cookie-consent {
    text-align: center;
}

/* buttons */
.buttons-row {
    margin-bottom: 10px;
}

button.favorite {
    width: 30px;
	height: 30px;
	margin: 0px 0px 0px 0px;
	border-radius: 50%;
	background-color:yellow;
	border-color: gold;
	border-width: 1px;
    font-size: 15px;
}

button.like {
    width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	background-color:lightgreen;
	border-color: green;
	border-width: 1px;
    font-size: 15px;
}

button.dislike {
    width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: palevioletred;
	border-color:darkred;
	border-width: 1px;
    font-size: 15px;
}

/* Content */
.cat-img {
    margin-bottom: 30px;
}

.content {
    flex: 1; /* Creates sticky footer */
    text-align: center;
}

.content .forms {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Footer */
footer {
    color: black;
    text-align: center;
    font-size: 12px;
}

.footer-content {
    padding-bottom: 5px;
}