.flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Creates sticky footer */
}

/* buttons */
button.like {
    width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	background-color:lightgreen;
	border-color: green;
	border-width: 1px;
    font-size: 15px;
}

button.dislike {
    width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: palevioletred;
	border-color:darkred;
	border-width: 1px;
    font-size: 15px;
}

/* NavBar */
.navbar-brand {
    vertical-align: middle;
    color: black;
}

/* Content */
.content {
    flex: 1; /* Creates sticky footer */
    text-align: center;
}

.content .forms {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content img {
    max-width: 100%;
    fill: white;
}

/* Footer */
footer {
    color: black;
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
}

.footer-content {
    padding-top: 5px;
    padding-bottom: 5px;
}