<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css"/>
		<script async defer src="https://buttons.github.io/buttons.js"></script>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
		<script src="https://kit.fontawesome.com/a375134af6.js" crossorigin="anonymous"></script>
   </head>
   
	<body class='flex'>

		<nav class='navbar navbar-expand-lg navbar-light bg-light'>
			<a href='{{url_for('vote')}}' class='navbar-brand'>
				<img width='35' alt='cat' src="{{url_for('static', filename='img/cat_silhouette.svg')}}"/>
				Cat Rates
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class='collapse navbar-collapse' id='navbarNav'>
				<ul class='navbar-nav'>
					<li class='nav-item'><a class='nav-link' href='{{url_for('vote')}}'>Vote</a></li>
					<li class='nav-item'><a class='nav-link' href='{{url_for('favorites')}}'>View Favorites</a></li>
				</ul>
			</div>

   		</nav>

		<div class='content'> {% block content %}{% endblock %} </div>		

		{% if cookies_check() %}
			{# then user has already consented so no requirement for consent banner #}
		{% else %}
			{# show a cookie consent banner #}
			<div class="bg-light cookie-consent" id="cookie-consent-container">
				<span>This site requires cookies to function properly. You may disable cookies in browser settings.</span>
				<button id="cookie-consent">I Consent</button>
			</div>
			<script>
				var fn = function () {
					document.cookie = "cookie_consent=true";
					document.getElementById('cookie-consent-container').hidden = true;
				};
				document.getElementById('cookie-consent').onclick = fn;
			</script>
		{% endif %}

		<footer class='footer-content bg-light'>
			<a class="github-button" href="https://github.com/RedSkyHarbor" data-show-count="true" aria-label="Follow @RedSkyHarbor on GitHub">Follow @RedSkyHarbor</a>
			<a class="github-button" href="https://github.com/RedSkyHarbor/Rate-Cats" data-icon="octicon-star" data-show-count="true" aria-label="Star RedSkyHarbor/rate-cats on GitHub">Star</a>
			<a href="https://twitter.com/CodingSteez?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CodingSteez</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<br/>
			<span>Created and maintained by <a href="https://www.codesteez.com/">Code Steez</a>.</span>
			<span>Source code released under the MIT license.</span> 
			<span>Website and documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</span>
		</footer>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>

</html>
