<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css"/>
		<script async defer src="https://buttons.github.io/buttons.js"></script>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
		<script src="https://kit.fontawesome.com/a375134af6.js" crossorigin="anonymous"></script>
   </head>
   
	<body class='flex'>
		<header>
			{% block header %}{% endblock %}
		</header>

		<div class='content'>
			{% block buttons %}{% endblock %}
			<img class='cat-image' src={{ cat.url }} />
		</div>		

		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>

</html>
