{% extends "base.html" %}

{% block title %}rate cats{% endblock %}

{% block header %}
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
        <a href='#' class='navbar-brand'>
            <img width='35' alt='cat' src="{{url_for('static', filename='img/cat_silhouette.svg')}}"/>
            Cat Rates
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarNav'>
            <ul class='navbar-nav'>
                <li class='nav-item'><a class='nav-link' href='/'>Vote</a></li>
                <li class='nav-item'><a class='nav-link' href='/favorites'>View Favorites</a></li>
            </ul>
        </div>

    </nav>
{% endblock %}

{% block buttons %}
    <div class='container forms'>
        <div class='row'>
            <form class='col' action="{{ url_for('dislike') }}" method="POST">
                <button class='dislike' name="id" value="{{ cat.id }}"><i class="far fa-thumbs-down"></i></button>
            </form>
            <form class='col' action="{{ url_for('like') }}" method="POST">
                <button class='like' name="id" value="{{ cat.id }}" ><i class="far fa-thumbs-up"></i></button>
            </form>
        </div>
    </div>   
{% endblock %}


{% block footer %}
    <div class='footer-content bg-light'>
        <a class="github-button" href="https://github.com/RedSkyHarbor" data-show-count="true" aria-label="Follow @RedSkyHarbor on GitHub">Follow @RedSkyHarbor</a>
        <a class="github-button" href="https://github.com/RedSkyHarbor/Rate-Cats" data-icon="octicon-star" data-show-count="true" aria-label="Star RedSkyHarbor/spaceballs-script-search-engine on GitHub">Star</a>
        <a href="https://twitter.com/CodingSteez?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CodingSteez</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br/>
        <span>Created and maintained by <a href="https://www.codesteez.com/">Code Steez</a>.</span>
        <span>Source code released under the MIT license.</span> 
        <span>Website and documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</span>
    </div>
{% endblock %}
