{% extends "base.html" %}

{% block title %}rate cats{% endblock %}

{% block header %}
    <img src="{{url_for('static', filename='img/cat_silhouette.svg')}}"/>
    <span>Rate this cat</span>    
{% endblock %}

{% block form %}
    <div class='forms'>
        <form action="{{ url_for('dislike') }}" method="POST">
            <button name="id" value="{{ cat.id }}">Dislike</button>
        </form>
        <form action="{{ url_for('like') }}" method="POST">
            <button name="id" value="{{ cat.id }}" >Like</button>
        </form>
    </div>   
{% endblock %}


{% block footer %}
    <div>
        <a class="github-button" href="https://github.com/RedSkyHarbor" data-show-count="true" aria-label="Follow @RedSkyHarbor on GitHub">Follow @RedSkyHarbor</a>
        <a class="github-button" href="https://github.com/RedSkyHarbor/RateCats" data-icon="octicon-star" data-show-count="true" aria-label="Star RedSkyHarbor/spaceballs-script-search-engine on GitHub">Star</a>
        <a href="https://twitter.com/CodingSteez?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CodingSteez</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div>Created and maintained by <a href="https://www.codesteez.com/">Code Steez</a>.</span> <span class="footer-credit">Source code released under the MIT license.</span> <span class="footer-credit">Website and documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</div>
{% endblock %}
